.swagger-section #header {
    background-color: #ffcc00;
}

.swagger-section #header #logo {
    background: transparent url(https://wikit.pnet.ch/download/attachments/1540100/NEMO) no-repeat left center;
    padding: 20px 0 20px 80px;
}

.swagger-section #api_selector {
    display: none;
}